snippet f
	Feature: ${1:Feature name}
	  In order to ${2}
	  As an ${3}
	  I want to ${4}

		${5}
snippet s
	Scenario: ${1:Scenario name}
		${2}
snippet g
	Given ${1}
snippet t
	Then I ${1}
	${2}
snippet w
	When I ${1}
	${2}
snippet a
	And I ${1}
	${2}
