#-----------------------------------------------------------
# Position
#-----------------------------------------------------------
snippet poa
	position: absolute
snippet por
	position: relative
snippet r
	right: ${1}px
#-----------------------------------------------------------
# Size
#-----------------------------------------------------------
snippet w
	width: ${1}px
snippet h
	height: ${1}px
#-----------------------------------------------------------
# Paddings
#-----------------------------------------------------------
snippet p
	padding: ${1}px
snippet pt
	padding-top: ${1}px
snippet pr
	padding-right: ${1}px
snippet pb
	padding-bottom: ${1}px
snippet pl
	padding-left: ${1}px
#-----------------------------------------------------------
# Margins
#-----------------------------------------------------------
snippet m
	margin: ${1}
snippet mt
	margin-top: ${1}px
snippet mr
	margin-right: ${1}px
snippet mb
	margin-bottom: ${1}px
snippet ml
	margin-left: ${1}px
#-----------------------------------------------------------
# Float
#-----------------------------------------------------------
snippet fl
	float: left
#-----------------------------------------------------------
# Font
#-----------------------------------------------------------
snippet fs
	font-size: ${1}px
snippet c
	color: ${1}
snippet fw
	font-weight: ${1:bold}
#-----------------------------------------------------------
# Display
#-----------------------------------------------------------
snippet d
	display: ${1}
snippet db
	display: block
snippet di
	display: inline
snippet dib
	display: inline-block
#-----------------------------------------------------------
# Text aligments
#-----------------------------------------------------------
snippet ta
	text-align: ${1}
snippet tac
	text-align: center
snippet tal
	text-align: left
snippet tar
	text-align: right
#-----------------------------------------------------------
# Borders
#-----------------------------------------------------------
snippet b
	border: ${1:1} ${2:solid} ${3:black}
snippet bt
	border-top: ${1:1} ${2:solid} ${3:black}
snippet br
	border-right: ${1:1} ${2:solid} ${3:black}
snippet bb
	border-bottom: ${1:1} ${2:solid} ${3:black}
snippet bl
	border-left: ${1:1} ${2:solid} ${3:black}
